API_ID=23816975 # get this value from my.telegram.org
API_HASH=9d94e6840fe8a1c9916d65e514ba72e7 # get this value from my.telegram.org
BOT_TOKEN=6345510474:AAFdYYOnHwFrepl5bONtpYZGcgp2EccMP3Q # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://veez:mega@cluster0.heqnd.mongodb.net/veez?retryWrites=true&w=majority
LOG_GROUP_ID=-1001993781277 # get this value from in your log group 
MUSIC_BOT_NAME=lol # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @t66bot
